table {
  width: 100%;
}
.search-input {
  display: flex;
  width: 100%;
  justify-content: end !important;
}

.table-heading {
  margin-top: 30px;
  font-size: larger;
  font-weight: 400;
}

.moved-up {
  margin-top: -80px;
  overflow-x: auto;
  //width: 100%;
}

.custom-button {
  width: -webkit-fill-available;
}

mat-paginator {
  min-width: 100%;
  max-width: 100%;
  width: max-content;
}

.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
}

::ng-deep .mat-table {
  tbody {
    white-space: pre;
  }
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}

@media (max-width: 400px) {
  .header-toolbar {
    display: block;
    // text-align: center;
  }

  .main-toolbar {
    height: auto;
  }

  .toolbar-buttons {
    display: block;
    // text-align: center;
    margin-top: 10px;
  }

  .custom-button {
    width: auto;
  }

  .search-input {
    display: block;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  ::ng-deep table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    height: unset;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
